:root {
    --main-color: #9F5C44;
    --second-color: #64342C;
    --third-color: #644C2C;
    --fourth-color: #392414;
    --fifth-color: #1F232C;
    --sixth-color:white;
    --black: #13131a;
    --bg: #000000;
    --border: .1rem solid rgba(255,255,255,.3);
}
.cart-button{
   margin-left:1500px;
   margin-top: 30px;
   color: #000000;
}
body{
    background-color: rgb(144, 173, 192);

}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--sixth-color);
    margin-left: 850px;
    margin-top: 20px;
    margin-bottom: 100px;
}


h2 {
    font-size: 2rem;
    color: var(--sixth-color);
}


.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height:100px;
}

.navbar a{
    text-decoration: none;
    color:white;
    margin-left: 10px;
    
}
.navbar a:hover{
    cursor: pointer;
    font-weight: bolder;
}


.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 2rem; 
    font-size: 1.4rem; 
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .1rem;
    background-color: var(--main-color);
}
footer{
    margin-top: 700px;
}
